body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
    padding-right: 40px;
}

.card{
    padding: 20px;
    display: flex;
    width: 450px;
    margin: 0 auto ;
    border-bottom: 6px solid #34180D;
    background-color: #F6EEE9;
    color: #34180D;
}

.dotted-border{
    border: 1px dotted blue;
    justify-content: space-around;
}
.align-text-center{
    text-align: center;
}